body {
	background-image: url("images/Yangshoumountains.jpg");
	/*background-color: #1B1B1B; */
}
#hex {
	position: relative;
	z-index: 10;
}

#colourDisplay {
	background-color: #000000;
	color: #FFFFFF
}

#colourPicker {
	display: none;
	position: relative;
	z-index: 10;
	top: -50%;
	left: 30%
}

#menubar {
	background-color: #7F7F7fF
	border-style: outset;
	width: 90%;
}

#main {
	background-color: #9D9D9D;
	border-style: outset;
	border-width: thin;
	font-style: italic;
	height: 90%;
	position: fixed;
	left: 8%;
	top: 4%;
	width: 80%;
	overflow: auto;
	z-index: 1;
}

#toolbar {
	background-color: #7f7f7f;
	border-style: outset;
	border-width: thin;
	height: 90%;
	position: fixed;
	top: 4%;
	width: 8%;
	overflow: auto;
	float: left;
}

#defaultCanvas {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	image-rendering: pixelated;
}