body {
	background-image: url("images/Yangshoumountains.jpg");
	/*background-color: #1b1b1b; */
}

#menubar {
	background-color: #7f7f7f;
	border-style: outset;
	width: 90%;
}

#main {
	background-color: #9d9d9d;
	border-style: outset;
	border-width: thin;
	font-style: italic;
	height: 90%;
	position: fixed;
	left: 8%;
	top: 4%;
	width: 80%;
	overflow: auto;
}

#toolbar {
	background-color: #7f7f7f;
	border-style: outset;
	border-width: thin;
	height: 90%;
	position: fixed;
	top: 4%;
	width: 8%;
	overflow: auto;
	float: left;
}

#defaultCanvas {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	image-rendering: pixelated;
}